%div{'ng-controller' => 'Example6Controller as vm'}
  %h3 Example 5
  %p
    This demo shows usage of the 'c3.resize' event to resize a chart after it is rendered.
  .row
    .col-lg-3
      .btn.btn-default{'ng-click' => 'vm.resizeChart()'}
        Resize chart to 500 x 200

  %div{'c3-chart' => true, id: '{{vm.elementId}}', raw: 'vm.data', group: '{{vm.group}}'}
  %div{'ng-include' => true, src: '"tabs.html"'}
