%div{'ng-controller' => 'Example4Controller as vm'}
  %h3 Example 4 - Chart Groups
  %p
    Example with multiple charts on one page divided into multiple groups.
    It is possible to send events to only one group.
    Sending empty group will have all charts respond to the event.
  .row
    %button.btn.btn-default{'ng-click' => 'vm.renderCharts("group1")'}
      Render Group 1
    %button.btn.btn-default{'ng-click' => 'vm.renderCharts("group2")'}
      Render Group 2
    %button.btn.btn-default{'ng-click' => 'vm.renderCharts()'}
      Render Both
  .row{'style' => 'margin-bottom:30px;'}
    .col-lg-4{'ng-repeat' => 'c in vm.items'}
      %div{'c3-chart' => true, id: '{{c.elementId}}', raw: 'c', group: '{{c.group}}'}

  %div{'ng-include' => true, src: '"tabs.html"'}
