%div{role: 'tabpanel'}
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active{role: 'presentation'}
      %a{href: 'javascript;;;', role: 'tab', data:{target: '#html', toggle: 'tab'}} Html
    %li{role: 'presentation'}
      %a{href: 'javascript;;;', role: 'tab', data:{target: '#js', toggle: 'tab'}} Javascript
  .tab-content
    .tab-pane.active{id:'html', role:'tabpanel'}
      %pre.code-toolbar.line-numbers{'prism-code' => true, 'data-src' => '{{vm.elementId}}.html'}
    .tab-pane{id: 'js', role:'tabpanel'}
      %pre.code-toolbar.line-numbers{'prism-code' => true, 'data-src' => 'scripts/src/{{vm.elementId}}.controller.js'}
